/* 请勿直接应用 */

:root {
  --clr-cocoa: #f5b0b6;
  --clr-chino: #8ab7eb;
  --clr-rize: #ae96d8;
  --clr-chiya: #87ce87;
  --clr-syaro: #f5d36e;
  --clr-maya: #7dd4df;
  --clr-megu: #f7a699;
  --clr-fuyu: #8d8fd6;
  --clr-yura: #e58ec4;
  --clr-natsume: #ce67e8;
  --clr-eru: #faa548;
  --clr-aoyama: #4778d1;
  --clr-mate: #4bafd7;
  --clr-mocha: #b7df69;
}
